body {
    background-color: #313337;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contennt_paypal a {
    color: #7ACC2D;
    text-decoration: none;
}